:root {
  --main_color: #006699;
  --main_hover: #3399cc;
  --main_font: white;
  --main_fonthover: black;
  --main_theme: #e6e6e6;
}
.top-bar {
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
}
.box-top {
  width: 100%;
  background-color: var(--main_color);
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.top-ui-right {
  width: 100%;
  min-width: 800px;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-ui-right li{
  width:10%;
  min-width: 50px;
  margin:-5px 50px 0 70px;
  float: right;
  text-align: center;
  display: block;
}
.top-ui-right a{
  color: var(--main_fonthover);
  text-decoration: none;
}
.top-ui-right a:hover{
  color: var(--main_font);
} 
.watermask-container {
  position: absolute;
  content: '';
  background-image: var(--watermarksvg);
  background-repeat: repeat;
  background-size: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.05);
}
.container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  max-width:100%;
  overflow:hidden;
  position:relative;
}

#myCanvas{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}