<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>频域水印</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>


<body>
  <div class="top-bar">
    <div class="box-top">
        <ul class="top-ui-right">
          <li>
            <form action="http://127.0.0.1:3001/logout"  method = "GET" id="logout">
              <!-- <input id="logoutSubmit" type="submit" value=<%= userinfo %>> -->
              <a onclick="document:logout.submit()" id="logoutSubmit"><%= userinfo %></a>
            </form>
          </li>
          <li>
            <a onclick="changeBlackTheme()">暗色主题</a>
          </li>
          <li>
            <a onclick="changeDefaultTheme()">默认主题</a>
          </li>
          <li>
            <a href="/index" target="_blank">智能前端卡通化</a>
          </li>
          <li>
            <a href="/waterMark" target="_blank">自助创建水印</a>
          </li>
        </ul>
      </div>
  </div> 
  <button onclick="show()">显示水印信息</button><br>
  <p id="text" style="font-size:15px"></p>
  <div class="container" style="pointer-events: none;" >
    <div class="box">
      <canvas id="myCanvas"></canvas>
      <!-- <img id = "onlyimage" src=""/> -->
    </div>
  </div>
</body>
<script type="text/javascript" src="/javascripts/cryptostego.min.js"></script>
<script>
  var canvas = document.getElementById("myCanvas");
  var img = document.createElement('img');
  img.src =  "../" + localStorage["ftt"];
  img.addEventListener('load', function() {
    canvas.width = img.width;
    canvas.height = img.height;
    canvas.getContext('2d').drawImage(img, 0, 0);
  });
  console.log(writeMsgToCanvas('myCanvas','201250203张若皓',"",0));
  var secret = readMsgFromCanvas('myCanvas','',0);
  function show(){
    document.getElementById("text").innerHTML  = secret;
  }
  
</script>
<script>
  function changeBlackTheme(){
    var htmlElement = document.querySelector('html');
    htmlElement.classList.add('dark');
  }
  function changeDefaultTheme(){
    var htmlElement = document.querySelector('html');
    htmlElement.classList.remove('dark');
  }
</script>
</html>