<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>svg实现水印</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
</head>


<body>
  <div class="top-bar">
    <div class="box-top">
        <ul class="top-ui-right">
            <li>
              <a><%= userinfo %></a>
            </li>
        </ul>
      </div>
  </div> 
  <div class="watermask-container">
    <div class="content-box">
    </div>
  </div>
  <div class="container">
    <div class="box">
      <img id = "onlyimage" src="/images/08.jpg"/>
    </div>
  </div>
</body>
<script src="/javascripts/svgJs.js"></script>
</html>